$koho: 'KoHo', sans-serif;
$niramit: 'Niramit', sans-serif;

/*$red-highlight: #B73225;
$blue-minded:  #004E7C;
$maroon6: #591C0B;
$grey-water: #5C5F58;
$light-grey: #DCE1E3;*/

$darkgreen: #164A41;
$mediumgreen: #4D774E;
$lightgreen: #9DC88D;
$naturalyellow: #F1B24A;
