.row {
  display: flex;
  flex-flow: row nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}
